@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}

input[type=radio] {
  position: relative;
  bottom: 1px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #fff;
}

.alert {
  display: none;
  color: #ffc300;
  text-align: left;
  padding-left: 8px;
}

.alert.alert-on {
  display: block;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 14px 28px;
  color: #fff;
  background-color: #ffc300;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 16px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  background-color: #eeba0b;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
}

.home-content,
.notfound-content,
.result-content {
  position: relative;
  text-align: center;
  margin-top: 200px;
  max-width: 70%;
  float: none;
}

.home-bg {
  background: url("../public/bg.webp") center/cover no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: brightness(40%);
}

.home-title,
.notfound-title {
  font-size: 60px;
  letter-spacing: 3;
  color: #fff;
}

.home-subtitle,
.notfound-subtitle {
  font-size: 20px;
  color: #eee;
  margin: 40px 0 120px;
  line-height: 28px;
}

.home-number {
  color: #ffc300;
}

.main-bg {
  background: url("../public/bg_alt.webp") center/cover no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: brightness(30%);
}

.main-content {
  position: relative;
  text-align: center;
  margin-top: 200px;
  max-width: 50%;
  float: left;
}

.main-question {
  font-size: 28px;
  letter-spacing: 3;
  color: #fff;
}

.main-answer {
  margin: 32px 0 5px;
}

.main-img {
  background: url("../public/psyduck.webp") center/cover no-repeat;
  width: 250px;
  height: 250px;
  position: relative;
  float: left;
  margin-top: 200px;
  margin-right: 26px;
}

.main-pager {
  margin-top: 100px;
  text-align: right;
  color: #fff;
}
.main-pager span {
  cursor: pointer;
}

.main-select {
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #ffc300;
  box-shadow: 0 0 10px #eeba0b;
  border-radius: 2px;
}

.main-select:active,
.main-select:focus {
  outline: none;
}

.result-bg {
  background: url("../public/bg_result.webp") center/cover no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: brightness(30%);
}

.result-img {
  background: url("../public/pikachu.webp") center/cover no-repeat;
  width: 250px;
  height: 250px;
  position: relative;
  float: left;
  margin-top: 250px;
  margin-right: 26px;
  filter: brightness(90%);
}

.result-title {
  font-size: 28px;
  letter-spacing: 3;
  color: #fff;
}

.result-answer {
  text-align: center;
}

.result-pokemon {
  width: 100%;
}

.result-name {
  color: #eee;
  font-size: 14px;
  margin-bottom: 24px;
}

.first-character,
.last-character {
  color: #ffc300;
}

.letter-input {
  width: 100%;
  padding: 5px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #ffc300;
  box-shadow: 0 0 10px #eeba0b;
  border-radius: 2px;
  outline: none;
}

.radio-container {
  padding: 12px 24px;
  text-align: left;
  color: #eee;
}

.notfound-bg {
  background: url("../public/bg_notfound.webp") center/cover no-repeat;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: brightness(40%);
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

.footer .sns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .sns a {
  margin: 10px;
  color: #ccc;
}

.footer .sns a:hover {
  color: #ffc300;
}

@media only screen and (max-width: 768px) {
  .main-img,
.result-img {
    display: none;
  }

  .home-subtitle,
.notfound-subtitle {
    font-size: 16px;
    color: #eee;
    margin: 40px 0 120px;
    line-height: 24px;
  }

  .main-question {
    font-size: 22px;
    letter-spacing: 3;
    color: #fff;
  }

  .home-content,
.main-content,
.result-content,
.notfound-content {
    position: relative;
    text-align: center;
    margin-top: 52px;
    max-width: 70%;
    float: none;
  }
}/*# sourceMappingURL=App.css.map */